div#basicinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

#cvname{
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: black;
    background-color: lightskyblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
#cvname span{
    display: inline-block;
    background-color: white;
    padding: 0 20px 0 20px;
}
#cvtitle{
    text-align: center;
    font-size: larger;
    margin: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: darkgray;
}
p{
    margin: 0;
}