
/* #cveducation{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#cveducation ul{
    width: fit-content;
    margin-left: 0;
    padding-left: 20%;
    line-height: 25px;
}

#cvdegree{
    color: rgb(133, 133, 133);
    font-weight: bold;
}

#cvschool{
    font-style: italic;
}

#cvschooldate{

}