#cvexperience{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#cvexperience>div>ul{
    width: fit-content;
    margin-top: 0;
    margin-left: 0;
    padding-left: 10%;
    padding-right: 5%;
    line-height: 25px;
}

#cvexperience .cvposition{
    font-weight: bold;
}
#cvexperience .cvcompanyandtime{
    color: rgb(131, 131, 131);
}

#cvexperience .cvtasklist{
    list-style: square;
}
